node_modules/
/dist/
.idea/
.vscode/
*.js
*.js.map
*.d.ts
yarn.lock
package-lock.json
**/.DS_Store
**/*.sublime-project
**/*.sublime-workspace
**/.vscode/
**/.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.postcss-cache/
tailwind.config.js